.contact-menu {
  height: 400px;
  background-image: linear-gradient(rgba(5, 14, 22, 0.7), rgba(5, 14, 22, 0.7)), url(../img/bg-contact@2x.jpg);
  background-size: cover;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    background: white;
    height: 100px;
    bottom: -90px;
    left: 0;
    right: 0;
    transform: skewY(0.6deg);
  }
}
.contact {
  p {
    color: #3f3f3f;
  }
  .contact-form {
    background-color: #015185;
    padding: 35px;
    margin: 0 35px;
    .notification {
      color: white;
      font-size: 14px;
    }
    .field {
      padding-bottom: 10px;
      input {
        color: #3f3f3f;
        height: 40px;
        padding: 0 15px;
        background-color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
      }
      select {
        color: #3f3f3f;
        width: 100%;
        height: 40px;
        padding: 0 15px;
        background-color: white;
        outline: none;
        border: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
      }
      textarea {
        color: #3f3f3f;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        min-height: 100px;
        padding: 7px 15px;
        background-color: white;
      }
    }
    button {
      cursor: pointer;
      transition: all .2s ease-in-out;
      border: 1px solid white;
      color: white;
      padding: 11px 30px;
      text-transform: uppercase;
      outline: none;
      &:hover {
        background-color: white;
        color: #015185;
      }
    }
  }
  .head-contact {
    padding-bottom: 85px;
    img {
      margin-left: -10px;
      height: 40px;
      padding-right: 30px;
    }
  }
}
