.about-us-menu {
  height: 400px;
  background-image: linear-gradient(rgba(5, 14, 22, 0.7), rgba(5, 14, 22, 0.7)), url(../img/bg-aboutus.jpg);
  background-size: cover;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    background: white;
    height: 100px;
    bottom: -90px;
    left: 0;
    right: 0;
    transform: skewY(0.6deg);
  }
}
.about-us {
  padding-bottom: 190px;
  h5 {
    margin-top: 20px;
    margin-left: 15px;
    color: #3f3f3f;
    border-left: 4px solid #3f3f3f;
    padding: 10px 19px;
  }
  .head-about-us {
    img {
      height: 280px;
      max-width: 100%;
      max-height: auto;
      display: block;
      margin: 0px;
      box-shadow: none;
      border: none;
      padding: 0px
    }
  }
  .info-about-us {
    padding-top: 35px;
    p {
      color: #3f3f3f;
    }
  }
  @include breakpoint($bs-xx){
    padding-bottom: 80px;
    .head-about-us {
      img {
        height: 280px;
      }
    }

  }
  @include breakpoint($bs-lg){
    h5{
      margin-left: 0px;
      &{
        margin-top: 50px;
      }
    }
  }
  @include breakpoint($bs-md){
    .title-page{
      height: 0px;
      h3{
        display: none;
      }
      &::before {
        width: 100%;
        content: 'ABOUT US';
        color: #fff;
        text-align: center;
        font-family: 'Montserrat', serif;
        font-size: 26px;
        margin-top:-150px;
        position: absolute;
        font-weight: 600;
      }
    h5{
      &{
        margin-top: 28px;
      }
    }
    .head-about-us {
      img{
        padding-right: 0px;
        height: auto;
        padding-left: 0px;
      }
      .info-about-us{
        padding-top: 20px;
      }
    }
  }
}
}
