.about-us-menu {
  height: 400px;
  background-image: linear-gradient(rgba(0, 45, 84, 0.7), rgba(0, 45, 84, 0.7)), url(../img/bg-aboutus.jpg);
  background-size: cover;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    background: white;
    height: 100px;
    bottom: -90px;
    left: 0;
    right: 0;
    transform: skewY(0.6deg);
  }
}
.about-us {
  color: #3f3f3f;
  padding: 100px 0;
  a {
    b {
      color: #0068c5;
    }
  }
  li {
    padding: 20px 0px 10px;
  }
  @include breakpoint($bs-sm) {
    padding: 100px 10px 0;
  } ;
}
