.our-service-market {
  height: 1560px;
  button {
    margin-top: 60px;
  }
  .qualitative-research {
    p {
      color: #212121;
    }
    .list-qualitative-research {
      padding-top: 35px;
      padding-bottom: 35px;
      p {
        @include p-our-service;
      }
    }
    .li {
      padding-top: 10px;
      padding-bottom: 45px;
      li {
        padding: 0 0 10px 10px;
      }
    }
  }
  .list-methods {
    padding-top: 20px;
    p {
      @include p-our-service;
    }
  }
}
