$bs-xx:1366px;
$bs-xl:1199px;
$bs-lg:991px;
$bs-md:767px;
$bs-sm:575px;
$bs-xs:422px;

// color
$cl-but: #10c78b;
$cl-but-hv: #00e096;
$cl-flow: #5bcbcd;
$cl-tit: #2e3333;
$cl-txt: #616565;
$cl-txt-span: #e5e5e5;

$body-size: 1920px;
$cont-size: 1240px;

$cl-line-bg: #273f5b;
