.our-service-quantitative {
  padding: 100px 0;
  p {
    color: #3f3f3f;
  }
  .margin-top-80px {
    margin-top: 80px;
  }
  .quantitative-research {
    .list-quantitative-research {
      padding-top: 50px;
      padding-bottom: 40px;

    }
  }
}
