.our-service-quantitative {
  height: 1000px;
  p {
    color: #3f3f3f;
  }
  button {
    margin-top: 80px;
  }
  .quantitative-research {
    .list-quantitative-research {
      padding-top: 50px;
      padding-bottom: 40px;
      p {
        @include p-our-service;
      }
    }
  }
}
