.our-service-quantitative {
  height: 1000px;
  p {
    color: #3f3f3f;
    line-height: 28px;
  }
  button {
    margin-top: 80px;
  }
  .quantitative-research {
    h5 {
      padding-top: 20px;
      padding-bottom: 15px;
      color: #3f3f3f;
    }
    .list-quantitative-research {
      padding-top: 50px;
      padding-bottom: 40px;
      .border {
        border: solid 1px #c3c3c3;
        &:hover {
          border: solid 1px #0068c5;
          background: #0068c5;
        }
      }
      p {
        color: #3f3f3f;
        line-height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 11px;
        height: 100%;
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        &:hover {
          color: white;
        }
      }
    }
  }
}
