.introduc{
  background-image: linear-gradient(rgba(0, 45, 84, 0.7), rgba(0, 45, 84, 0.7)), url(../img/bg-head.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    background: white;
    height: 100px;
    bottom: -70px;
    left: 0;
    right: 0;
    transform: skewY(0.6deg);
  }
  .info {
    padding-top: 360px;
    text-align: center;
    .header {
      padding: 0 120px;
    }
    .footer {
      color: #ebebeb;
      padding: 30px 80px 0;
      opacity: 0.8;
      line-height: 30px;
    }
    .read-more {
      opacity: 0.7;
      padding-top: 290px;
      padding-bottom: 60px;
      p {
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        margin-bottom: 0!important;
      }
      img {
        height: 20px;
      }
    }
  }
  @include breakpoint($bs-lg){
    .info {
      padding-top: 300px;
      .header {
        padding: 0 40px;
      }
      .footer {
        padding: 30px 20px 0;
      }
    }
  }
  @include breakpoint($bs-md){
    .info {
      .header {
        padding: 0;
      }
      .footer {
        padding: 30px 20px 0;
      }
    }
  }
}
