.news {
  // height: 910px;
  background-image: linear-gradient(rgba(0, 45, 84, 0.7), rgba(0, 45, 84, 0.7)), url(../img/bg-news@2x.jpg);
  background-size: cover;
  padding-bottom: 55px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    background: #fafafa;
    height: 100px;
    top: -72px;
    left: 0;
    right: 0;
    transform: skewY(0.6deg);
  }
  h3 {
    color: #ffffff;
    padding-top: 80px;
  }
  hr {
    height: 1px;
    border-top: 2px solid #eeeeee;
    opacity: 0.1;
    margin-bottom: 80px;
  }
  img {
    width: inherit;
  }
  button {
    margin: 20px 0 40px 40px;
  }
  .slide {
    padding: 0 40px;
  }
  .flex {
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    a {
      color : #0068c5;
      p {
        color: #3f3f3f;
      }
      &:hover {
        color: white;
      }
    }
    img {
      width: 100%;
      padding-bottom: 35px;
    }
    p {
      padding: 0 40px;
    }
  }
}
.owl-theme {
  .owl-nav {
    margin-top: 50px!important;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -50%;
    // left: -100px;
    // width: 121%;
    img {
      background: black!important;
      padding: 20px;
      height: 70px;
    }
    .owl-prev{
      // position: relative;
      // margin-left: -20%;
      // background: none!important;
      // @include breakpoint($bs-xl){
      //   left: -5%;
      // }
    } .owl-next {
      // position: relative;
      // right: -20%;
      // background: none!important
    }
  }
  .owl-dots {
    padding-top: 50px;
    .owl-dot {
      span {
        width: 14px!important;
        height: 14px!important;
        border-radius: 0!important;
      }
    }
    .active {
      span {
        background: #0068c5!important;
        width: 16px!important;
        height: 16px!important;
      }
    }
  }
}
