.our-clients {
  // height: 623px;
  background: #fafafa;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    background: white;
    height: 100px;
    top: -70px;
    left: 0;
    right: 0;
    transform: skewY(0.6deg);
  }
  .our-clients-content {
    padding-bottom: 45px;
    h3 {
      padding-top: 120px;
    }
    hr {
      margin-bottom: 90px;
    }
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
      grid-gap: 40px;
      .item {
        z-index: 1;
        width: 100%;
        img {
          width: inherit;
        }
        .colored {
          display: none;
          transition: all .2s ease-in-out;
        }
        &:hover {
          .colored {
            display: unset;
            transform: scale(1.05);
          }
          .plain {
            display: none;
          }
        }
      }
    }
  }
  @include breakpoint($bs-xl){
    .our-clients-content {
      hr {
        margin-bottom: 40px;
      }
      .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        div {
          img {
            height: 52px;
            margin-bottom: 60px;
          }
        }
      }
    }
  }
  @include breakpoint($bs-lg){
    .our-clients-content {
      hr {
        margin-bottom: 55px;
      }
      .grid-container {
        grid-template-columns: auto auto auto;
        div {
          img {
            height: 68px;
            margin-bottom: 40px;
          }
        }
      }
    }
  }
  @include breakpoint($bs-md){
    .our-clients-content {
      hr {
        margin-bottom: 45px;
      }
      .grid-container {
        div {
          img {
            height: 60px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  @include breakpoint($bs-md){
    .our-clients-content {
      hr {
        margin-bottom: 35px;
      }
      .grid-container {
        grid-template-columns: auto auto;
        div {
          img {
            height: 60px;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}
