.our-clients {
  height: 920px;
  h3 {
    padding-top: 120px;
  }
  hr {
    margin-bottom: 90px;
  }
  .img-center {
    text-align: center;
    img {
      height: 99px;
      margin-bottom: 90px;
    }
  }
}
