.news-menu {
  height: 400px;
  background-image: linear-gradient(rgba(5, 14, 22, 0.7), rgba(5, 14, 22, 0.7)), url(../img/bg-news@2x.jpg);
  background-size: cover;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    background: white;
    height: 100px;
    bottom: -90px;
    left: 0;
    right: 0;
    transform: skewY(0.6deg);
  }
}
.news-detail {
  height: 1400px;
  h4 {
    color: #212121;
    border-left: 4px solid #0068c5;
    padding-left: 19px;
    margin-bottom: 45px;
  }
  p {
    color: #212121;
    line-height: 28px;
  }
  hr {
    height: 1px;
    margin-bottom: 70px;
  }
  .slide {
    padding-bottom: 10px;
    img {
      padding-bottom: 30px
    }
  }
  .list-news {
    p {
      padding-bottom: 55px;
    }
    .tag {
      padding-bottom: 0px;
      padding-top: 20px;
      color: #b3b3b3;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
    }
    img {
      width: 95%;
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    top: 25%;
    img {
      padding-bottom: 0;
    }
  }
}
.pagination {
  justify-content: center;
  li {
    font-size: 20px;
    padding-right: 30px;
  }
  img {
    background: #0068c5;
    height: 35px;
    padding: 8px 6px;
    margin: -2px 50px 0 30px;
  }
  .active {
    a {
      font-size: 22px;
      font-weight: bold;
    }
  }
}
