@mixin flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.footerPage {
  background: #f6f6f6;
  // height: 370px;
  color: #00304f;
  .un-opacity {
    opacity: 1;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }
  .flex-footer-1 {
    @include flex-footer;
    padding-top: 90px;
    img {
      padding-bottom: 10px;
    }
    .info-footer {
      img {
        padding-bottom: 18px;
        margin-top: -7px;
      }
    }
    .flex-footer-2 {
      display: flex;
      img {
        opacity: 1;
        padding: 0px;
        width: 25px;
        margin-right: 10px;
      }
      .padding-flex-footer-2 {
        padding-right: 90px;
        .site-contents {
          opacity: 0.7
        }
      }
      .follow-us {
        margin-top: -3px;
        img {
          height: 25px;
          opacity: 1;
        }
        .follow-us-content {
          display: flex;
          flex-direction: row;
          p {
            opacity: 0.7;
          }
        }
      }
    }
  }
  hr {
    background: #898989;
    opacity: 0.2;
    margin-top: 21px;
  }
  .flex-footer-3 {
    @include flex-footer;
    padding-top: 10px;
    p {
      opacity: 1;
      font-size: 14px;
    }
  }
}
