@mixin flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.footerPage {
  background: #fafafa;
  color: #00304f;
  .un-opacity {
    opacity: 1;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }
  .flex-footer-1 {
    @include flex-footer;
    padding-top: 40px;
    .info-footer {
      span {
        font-size: 35px;
      }
    }
    .flex-footer-2 {
      display: flex;
      img {
        opacity: 1;
        padding: 0px;
        width: 25px;
        margin-right: 10px;
      }
      .padding-flex-footer-2 {
        .site-contents {
          display: flex;
          flex-direction: column;
          a {
            color: #00304f;
            opacity: 0.7;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
      .follow-us {
        margin-top: -3px;
        img {
          height: 25px;
          opacity: 1;
        }
        .follow-us-content {
          display: flex;
          flex-direction: row;
          p {
            opacity: 0.7;
          }
        }
      }
    }
  }
  hr {
    background: #898989;
    opacity: 0.2;
    margin-top: 21px;
  }
  .flex-footer-3 {
    @include flex-footer;
    padding-top: 10px;
    p {
      opacity: 1;
      font-size: 14px;
    }
    .footer-link {
      a{
        font-size: 14px;
        color: #00304f;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        margin: 0 10px;
      }
    }
  }
}
