@mixin flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.footerPage {
  background: #f6f6f6;
  color: #00304f;
  .un-opacity {
    opacity: 1;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }
  .flex-footer-1 {
    @include flex-footer;
    padding: 40px 0 20px;
    .info-footer {
      span {
        font-size: 35px;
      }
      .fi-colored-logo-icon .path3:before,
      .fi-colored-logo-icon .path4:before,
      .fi-colored-logo-icon .path5:before,
      .fi-colored-logo-icon .path6:before,
      .fi-colored-logo-icon .path7:before,
      .fi-colored-logo-icon .path8:before,
      .fi-colored-logo-icon .path9:before,
      .fi-colored-logo-icon .path10:before {
        color: #015185;
      }
    }
    .flex-footer-2 {
      display: flex;
      .padding-flex-footer-2 {
        .site-contents {
          display: flex;
          flex-direction: column;
          a {
            color: #00304f;
            opacity: 0.7;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  hr {
    background: #898989;
    opacity: 0.2;
    margin-top: 21px;
  }
  .flex-footer-3 {
    @include flex-footer;
    padding-top: 10px;
    p {
      opacity: 1;
      font-size: 14px;
    }
    .footer-link {
      a{
        font-size: 14px;
        color: #00304f;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        margin: 0 10px;
      }
    }
  }

  @include breakpoint($bs-md) {
    .flex-footer-1 {
      flex-direction: column;
      .info-footer{
        margin-bottom: 20px;
      }
    }
    .flex-footer-3 {
      flex-direction: column;
      padding-bottom: 30px;
      .footer-link {
        display: flex;
        flex-direction: column;
        a {
          margin: 5px 0;
        }
        span {
          display: none;
        }
      }
    }
  }
}
